docs/archive/n8n-daily-brief-with-summaries.json
{
  "name": "Daily Brief - With Summaries (Dev)",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-1",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "date-assignment",
              "name": "date",
              "value": "={{ $now.toISO().split('T')[0] }}",
              "type": "string"
            },
            {
              "id": "api-url-assignment",
              "name": "apiUrl",
              "value": "http://localhost:3001",
              "type": "string"
            },
            {
              "id": "api-key-assignment",
              "name": "apiKey",
              "value": "REPLACE_WITH_YOUR_DEV_API_KEY",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-config",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Config').item.json.apiUrl }}/api/brief/refresh",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $('Set Config').item.json.apiKey }}"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "refresh-feeds",
      "name": "Refresh Feeds",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Set Config').item.json.apiUrl }}/api/brief/items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "date",
              "value": "={{ $('Set Config').item.json.date }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $('Set Config').item.json.apiKey }}"
            }
          ]
        }
      },
      "id": "get-daily-items",
      "name": "Get Daily Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Filter items that don't have summaries\nconst items = $input.all();\nconst filtered = items.filter(item => {\n  const summary = item.json.aiSummary;\n  return !summary || summary.trim() === '';\n});\nreturn filtered;"
      },
      "id": "filter-no-summary",
      "name": "Filter Items Without Summaries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": true
        }
      },
      "id": "split-batches",
      "name": "Process Items One by One",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4o-mini"
            },
            {
              "name": "messages",
              "value": "=[{\"role\":\"system\",\"content\":\"You are a helpful assistant that creates concise, informative summaries of articles for a daily news brief.\"},{\"role\":\"user\",\"content\":\"Summarize this article in 2-3 sentences for a daily news brief. Focus on key insights and actionable information.\\n\\nTitle: {{ $json.title }}\\nSource: {{ $json.source }}\\nContent: {{ $json.contentSnippet || $json.fullContent || 'No content available' }}\"}]"
            },
            {
              "name": "temperature",
              "value": "0.7"
            },
            {
              "name": "max_tokens",
              "value": "150"
            }
          ]
        },
        "options": {}
      },
      "id": "generate-summary",
      "name": "Generate Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300],
      "credentials": {
        "httpBearerAuth": {
          "id": "openai-bearer-auth",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract summary from OpenAI response\nconst openaiResponse = $input.item.json;\nconst summary = openaiResponse.choices?.[0]?.message?.content?.trim();\n\nif (!summary) {\n  throw new Error('No summary in OpenAI response: ' + JSON.stringify(openaiResponse).substring(0, 200));\n}\n\n// Get the original item from the \"Preserve Original Item\" node\n// Since Generate Summary (HTTP Request) replaces the input, we need to get it from the previous node\nlet originalItem;\ntry {\n  originalItem = $('Preserve Original Item').item.json;\n} catch (e) {\n  throw new Error('Cannot access original item from \"Preserve Original Item\" node: ' + e.message);\n}\n\nif (!originalItem || !originalItem.id) {\n  throw new Error('Original item missing required fields (id). Item: ' + JSON.stringify(originalItem));\n}\n\n// Return original item with the generated summary\nreturn {\n  ...originalItem,\n  generatedSummary: summary\n};"
      },
      "id": "extract-summary",
      "name": "Extract Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Config').item.json.apiUrl }}/api/items/{{ $json.id }}/summary",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "summary",
              "value": "={{ $json.generatedSummary }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $('Set Config').item.json.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "save-summary",
      "name": "Save Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "id": "rate-limit-delay",
      "name": "Rate Limit Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2220, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Set Config').item.json.apiUrl }}/api/brief/metadata",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "date",
              "value": "={{ $('Set Config').item.json.date }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $('Set Config').item.json.apiKey }}"
            }
          ]
        }
      },
      "id": "get-metadata",
      "name": "Get Brief Metadata",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Config').item.json.apiUrl }}/api/brief/runs",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "date",
              "value": "={{ $('Set Config').item.json.date }}"
            },
            {
              "name": "status",
              "value": "running"
            },
            {
              "name": "metadata",
              "value": "={{ JSON.stringify({ articleCount: $('Get Daily Items').item.json.length, feeds: $('Get Brief Metadata').item.json.feeds }) }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $('Set Config').item.json.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "set-run-running",
      "name": "Set Run Status: Running",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 500]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Refresh Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh Feeds": {
      "main": [
        [
          {
            "node": "Get Daily Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Daily Items": {
      "main": [
        [
          {
            "node": "Filter Items Without Summaries",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Brief Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Items Without Summaries": {
      "main": [
        [
          {
            "node": "Process Items One by One",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Items One by One": {
      "main": [
        [
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary": {
      "main": [
        [
          {
            "node": "Extract Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Summary": {
      "main": [
        [
          {
            "node": "Save Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Summary": {
      "main": [
        [
          {
            "node": "Rate Limit Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Delay": {
      "main": [
        [
          {
            "node": "Process Items One by One",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Brief Metadata": {
      "main": [
        [
          {
            "node": "Set Run Status: Running",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Run Status: Running": {
      "main": [
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-16T00:00:00.000Z",
  "versionId": "1"
}
